/* Table.css */
.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

.table-header,
.table-footer {
  background-color: #f1f1f1;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-cell,
.table-header {
  padding: 12px;
  border: 1px solid #ddd;
}

.table-footer {
  text-align: center;
  font-weight: bold;
}

.table-container.disabled {
  opacity: 0.5;
  pointer-events: none; /* Disable user interaction */
}

.table-container.disabled .table {
  cursor: not-allowed; /* Show cursor style indicating the table is disabled */
}
